:root {
  --text-primary: #000;
  --text-secondary: hsl(0, 0%, 30%);
  --warning: hsl(0, 100%, 50%);
  --success: hsl(120, 100%, 25%);

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui;
}

main {
  padding: 1rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.display-none {
  display: none;
}

.primary-btn {
  padding: 0.3em 0.6em;
}

/* header styling */
.nav-bar {
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
}

.nav-bar .wrapper {
  justify-content: center;
  align-items: center;
}
.site-title {
  display: none;
  font-size: 2.5rem;
}

.site-logo {
  aspect-ratio: 1;
  width: 75px;
}

.nav-bar hr {
  width: 90%;
}

@media (width >= 768px) {
  .nav-bar {
    gap: 1.5rem;
    padding-inline: 2rem;
  }

  .nav-bar .wrapper {
    align-self: start;
  }

  .site-title {
    display: block;
  }

  .site-logo {
    width: 100px;
  }
}

/* main content styling */

.section-break {
  width: 90%;
  margin: 1rem auto;
}

.selectItemsSection {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.selectItemsSection label {
  font-size: 1rem;
  font-weight: var(--fw-medium);
  width: 100%;
  text-align: center;
}

label[for="pokemonSelect2"] {
  font-size: 0.8rem;
}

.dropdownWrapper {
  gap: 1rem;
  min-width: 200px;
}

.dropdownWrapper .dropdown {
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.pokemonSelect {
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
}

.selectItemsSection .displayWrapper {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.displayWrapper .btn-group {
  gap: 2rem;
}

.displayWrapper .btn-group button {
  font-size: 1.1rem;
}

.displayedPokemon {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.displayedPokemon img {
  max-width: 50%;
}

.pokemonCard {
  border: 1px solid black;
  min-width: 270px;
  padding: 1rem;
}
.pokemonCard > div {
  align-items: center;
}

.pokemonCard h2 {
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
}

.card-header {
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.5rem;
}

.cardImage {
  aspect-ratio: 1;
  width: 75px;
  object-fit: cover;
}

.stats {
  gap: 1rem;
  margin-top: 1rem;
}

.stats *:not(.title) {
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
}

.stats .title {
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
}

.stats span:nth-child(2) {
  font-weight: var(--fw-regular);
}

.stats div:first-child {
  align-self: start;
}
.stats div:first-child h3 {
  gap: 0.5rem;
}

.stats div:first-child div {
  gap: 1rem;
}

.statsDiv {
  gap: 0.5rem;
}

.statsDiv > div {
  gap: 1rem;
}

.left-stats h3,
.right-stats h3 {
  gap: 0.5rem;
  justify-content: space-between;
}

@media (width >= 768px) {
  .selectItemsSection {
    flex-direction: row;
  }

  .dropdownWrapper {
    padding-right: 1rem;
    min-height: 25rem;
    border-right: 1px solid black;
  }

  .selectItemsSection .displayWrapper {
    flex-direction: column-reverse;
  }

  .displayedPokemon {
    flex-direction: row;
    justify-content: center;
  }
}

.compareSection {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  gap: 1rem 0;
  grid-template-areas:
    "image1 image2"
    "name1 name2"
    "msg msg"
    "weight weight "
    "weightVal1  weightVal2"
    "height height"
    "heightVal1  heightVal2"
    "hp hp"
    "hpVal1 hpVal2"
    "speed speed"
    "speedVal1 speedVal2"
    "attack attack"
    "attackVal1 attackVal2"
    "special-attack special-attack"
    "specAttVal1 specAttVal2"
    "defense defense"
    "defenseVal1 defenseVal2"
    "special-defense special-defense"
    "specDefVal1 specDefVal2";
}

.highest {
  text-decoration: underline;
  text-underline-offset: 20%;
  color: var(--success);
}

.compareSection img {
  aspect-ratio: 1;
  width: 100px;
  object-fit: cover;
}

.compareSection h4 {
  font-weight: var(--fw-regular);
}

.compare-msg {
  grid-area: msg;
  font-size: 1.2rem;
  font-style: italic;
  margin: 1rem;
}

/* images */
.compare-image0 {
  grid-area: image1;
}
.compare-image1 {
  grid-area: image2;
}

/* names */
.compare-name0 {
  grid-area: name1;
}
.compare-name1 {
  grid-area: name2;
}

/* weight */
.weight {
  grid-area: weight;
}
.weightVal0 {
  grid-area: weightVal1;
}
.weightVal1 {
  grid-area: weightVal2;
}

/* height */
.height {
  grid-area: height;
}

.heightVal0 {
  grid-area: heightVal1;
}
.heightVal1 {
  grid-area: heightVal2;
}
/* hp */
.hp {
  grid-area: hp;
}
.hpVal0 {
  grid-area: hpVal1;
}
.hpVal1 {
  grid-area: hpVal2;
}
/* speed */
.speed {
  grid-area: speed;
}
.speedVal0 {
  grid-area: speedVal1;
}
.speedVal1 {
  grid-area: speedVal2;
}
/* attack */
.attack {
  grid-area: attack;
}
.attackVal0 {
  grid-area: attackVal1;
}
.attackVal1 {
  grid-area: attackVal2;
}
/* special attack */
.specAtt {
  grid-area: special-attack;
}
.special-attackVal0 {
  grid-area: specAttVal1;
}
.special-attackVal1 {
  grid-area: specAttVal2;
}
/* defense */
.defense {
  grid-area: defense;
}
.defenseVal0 {
  grid-area: defenseVal1;
}
.defenseVal1 {
  grid-area: defenseVal2;
}
/* special defense */
.specDef {
  grid-area: special-defense;
}
.special-defenseVal0 {
  grid-area: specDefVal1;
}
.special-defenseVal1 {
  grid-area: specDefVal2;
}

@media (width >= 768px) {
  .compareSection {
    grid-template-areas:
      ". image1 image2"
      ". name1 name2"
      "weight weightVal1 weightVal2"
      "height heightVal1 heightVal2"
      "hp hpVal1 hpVal2"
      "speed speedVal1 speedVal2"
      "attack attackVal1 attackVal2"
      "special-attack specAttVal1 specAttVal2"
      "defense defenseVal1 defenseVal2"
      "special-defense specDefVal1 specDefVal2"
      "msg msg msg";
  }
}

/* battle styling */
#battleStatus {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
  margin-block: 1rem;
}
.battleSection {
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
.playersAndStats {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem 0;
  grid-template-areas:
    "pokemon1 vs pokemon2"
    "hp1 battleHP hp2"
    "leftImg . rightImg";
}

.playersAndStats img {
  margin-top: 2rem;
}

.player0 {
  grid-area: pokemon1;
  font-size: 1.25rem;
}
.player1 {
  grid-area: pokemon2;
  font-size: 1.25rem;
}
.versus {
  grid-area: vs;
  margin-inline: 1rem;
  font-size: 1rem;
  font-weight: var(--fw-regular);
}

.player0HP {
  grid-area: hp1;
  font-size: 1.25rem;
}
.player1HP {
  grid-area: hp2;
  font-size: 1.25rem;
}
.battleHP {
  grid-area: battleHP;
}

.currentPlayer {
  grid-area: leftImg;
  width: 150px;
}
.nonCurrentPlayer {
  grid-area: rightImg;
  width: 100px;
}

.currentMove {
  gap: 1rem;
  align-items: center;
}

.currentMove h4 {
  font-size: 1.25rem;
  font-weight: var(--fw-regular);
}

.currentMove span {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.battleMessages {
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
}

.attackSection {
  gap: 1rem;
  align-items: center;
}

.attackSection h5 {
  font-size: 1.25rem;
  font-weight: var(--fw-regular);
}

#attackBtn {
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
}

.hpWarning {
  color: var(--warning);
}

.winner-profile {
  align-items: center;
}

.winner-profile img {
  max-width: 290px;
}

.winner-profile h3 {
  font-size: 2.25rem;
  font-weight: var(--fw-medium);
}

.winner-title {
  font-size: 3rem;
  font-weight: var(--fw-semi-bold);
}

.battleSection a {
  text-underline-offset: 20%;
  color: var(--text-primary);
}

.resetBattleDiv {
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
}
